# dependencies (必須)
/node_modules

# Next.js build output (必須)
.next
out

# Optional npm cache directory
.npm

# dotenv environment variable files (もし .env を使っているなら)
.env
.env.*
!.env.example

# Optional eslint cache
.eslintcache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Mac OS X
.DS_Store

# TypeScript
*.tsbuildinfo
next-env.d.ts